*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: rgba(45, 0, 52);
  font-family: sans-serif;
  padding-top: 30rem;
  color: white;
}

form {
  margin: 50rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(45, 0, 52);
  width: 650rem;
  padding: 35rem 20rem 50rem 35rem;
}

h1 {
  font-size: 45rem;
  font-weight: 500;
  margin-bottom: 20rem;
  letter-spacing: 4rem;
}

.input-div {
  width: 100%;
  display: grid;
  grid-template-columns: 4.1fr 0.9fr;
  margin-bottom: 20rem;
}

.addBtn {
  color: white;
  background-color: rgb(145, 0, 207);
  border: none;
  font-size: 17rem;
  font-family: 600;
  border-radius: 0rem 2rem 2rem 0rem;
}

.addBtn:hover {
  background-color: rgb(179, 0, 255);
  cursor: pointer;
}

input {
  font-size: 23rem;
  border: 2rem solid rgb(145, 0, 207);
  background-color: rgb(45, 0, 52);
  padding: 8rem;
  border-radius: 2rem 0rem 0rem 2rem;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.checkBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editBtn,
.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h3 {
  font-size: 30rem;
  font-weight: 300;
}

.handle-grocery {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.check-6 {
  width: 30rem;
  color: white;
  border: none;
}

.edit-6 {
  width: 30rem;
  color: white;
  border: none;
}

.remove-6 {
  width: 30rem;
  color: rgb(223, 0, 0);
  border: none;
}

.edited-icon,
.checked-icon {
  stroke: rgb(191, 40, 255);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.crossed {
  text-decoration: line-through rgb(185, 23, 255);
}

.editingInput {
  width: 100%;
  font-size: 27rem;
}
